h1 { 
  color: #111; 
  font-family: 'Open Sans Condensed', sans-serif; 
  font-size: 54px; 
  font-weight: 700; 
  line-height: 54px; 
  margin: 0 0 0; 
  padding: 20px 30px; 
  text-align: center; 
  text-transform: uppercase; 
}

h2 { 
  color: #111; 
  font-family: 'Open Sans Condensed', sans-serif; 
  font-size: 24px; 
  font-weight: 300; 
  line-height: 24px; 
  margin: 0 0 0; 
  padding: 20px 30px; 
  text-align: left; 
  text-transform: uppercase; 
}

.task_click { 
  -moz-border-radius: 50%; 
  -moz-transition: all 0.2s ease-in-out; 
  -webkit-border-radius: 50%; 
  -webkit-transition: all 0.2s ease-in-out; 
  background: #111; 
  border-radius: 50%; 
  border: 10px solid #fdfdfd; 
  color: #fff; 
  display: block; 
  font-family: 'Open Sans', sans-serif; 
  font-size: 14px; 
  height: 80px; 
  line-height: 80px; 
  margin: -40px 0 0 -40px; 
  position: absolute; 
  bottom: 0px; 
  left: 50%; 
  text-align: center; 
  text-transform: uppercase; 
  width: 80px; 
}

.task_click:hover { 
  background: #990000; 
  text-decoration: none; 
}
